:host
{
    --cccalendar-colorBackgroundButtonBrand: var(--lwc-colorBackgroundButtonBrand, #2574A9);
    --cccalendar-buttonColorBorderBrand: var(--lwc-buttonColorBorderBrand, #2574A9);
    --cccalendar-colorBackgroundButtonBrandActive: var(--lwc-colorBackgroundButtonBrandActive, #135F90);
    --cccalendar-colorBorderBrandPrimaryActive: var(--lwc-colorBorderBrandActive, rgb(0, 57, 107));
    --cccalendar-colorTextButtonBrandDisabled: var(--lwc-colorTextButtonBrandDisabled, rgb(255, 255, 255));
    --cccalendar-colorTextButtonBrand: var(--lwc-colorTextButtonBrand, #FFFFFF);
    --cccalendar-colorBackgroundButtonBrandDisabled: rgba(44, 62, 80, 0.65);
    --cccalendar-buttonColorBorderBrandDisabled: rgba(44, 62, 80, 0.65);

}

.fc-button
{
    background-color: var(--cccalendar-colorBackgroundButtonBrand, #2574A9);
    border-color: var(--cccalendar-buttonColorBorderBrand, #2574A9);
    color: var(--cccalendar-colorTextButtonBrand, #FFFFFF);
}

.fc-button-primary:not(:disabled).fc-button-active, 
.fc-button-primary:not(:disabled):active,
.fc-button-primary:hover
{
    background-color: var(--cccalendar-colorBackgroundButtonBrandActive, #135F90);
    border-color: var(--cccalendar-colorBorderBrandPrimaryActive, rgb(0, 57, 107));
    color: var(--cccalendar-colorTextButtonBrand, #FFFFFF);
}

.fc-button-primary:disabled {
    color: var(--cccalendar-colorTextButtonBrandDisabled, #FFFFFF);
    background-color: var(--cccalendar-colorBackgroundButtonBrandDisabled, rgba(44, 62, 80, 0.65));
    border-color: var(--cccalendar-buttonColorBorderBrandDisabled, rgba(44, 62, 80, 0.65));
}

.fc-row {
    --webkit-overflow-scrolling: touch;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

span.fc-title {
    white-space: normal;
    overflow: auto;
    text-overflow: ellipsis;
}

.cccalendar_slds-modal__container
{
    width: 75%;
    max-width: 75rem;
    margin: auto;
}

@media only screen and (max-device-width: 480px) {

    .fc-toolbar h2 {
        font-size: 1em;
    }

}